webdev/backend/app/__pycache__/main.cpython-312.pyc
webdev/.firebase/hosting.ZnJvbnRlbmQvZGlzdA.cache
arduino/cradle-wave/include/secrets.h
arduino/cradle-wave/include/cradlewave-aa74f-firebase-adminsdk-fbsvc-d24a91684f.json
arduino/cradle-wave/include/secrets.h
radar_sdk
radar_processing/
radar_processing2/
arduino/cradle-wave/include/README
arduino/cradle-wave/lib/README
arduino/cradle-wave/test/README
