webdev/backend/app/__pycache__/main.cpython-312.pyc
webdev/.firebase/hosting.ZnJvbnRlbmQvZGlzdA.cache
arduino/cradle-wave/include/secrets.h
arduino/cradle-wave/include/cradlewave-aa74f-firebase-adminsdk-fbsvc-d24a91684f.json
arduino/cradle-wave/include/secrets.h
radar_sdk
radar_processing/
radar_processing2/
arduino/cradle-wave/include/README
arduino/cradle-wave/lib/README
arduino/cradle-wave/test/README
webdev/backend/cradlewave-aa74f-firebase-adminsdk-fbsvc-549aa6f4fb.json
demo_board_python/demo_board
arduino/cradle-wave/src/main.cpp.bak
demo_board_python/helpers/__pycache__/DopplerAlgo.cpython-312.pyc
demo_board_python/helpers/__pycache__/fft_spectrum.cpython-312.pyc
demo_board_python/helpers/__pycache__/websockets.cpython-312.pyc
demo_board_python/helpers/__pycache__/sock.cpython-312.pyc
WiFiNINA
.vscode
Senior Desgin Fall Report.pdf
senior_design_report.txt
